*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.panel {
    top: 0;
    position: absolute;
    background-color: black;
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje37l.jpg);
    left: 50vw;
    transform: translate(-50%);
    width: 100vw;
    height: 1080px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    overflow: visible;
    z-index: 0;
}

.panel-text {
    font-size: 28px;
    position: relative;
    left: 120px;
    top: 420px;
    width: 820px;
    color: white;
    z-index: 1;
}

.search-bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 22px;
    padding: 1.25rem;
    position: relative;
    background-color: white;
    height: 2rem;
    width: 630px;
    left: 120px;
    top: 500px;
    border-radius: 50px;
    z-index: 1;
}

.btn {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 1rem;
    border-radius: 50px;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.principal-game {
    display: flex;
    overflow: visible;
    position: relative;
    background-size: cover;
    background-image: url(https://m.media-amazon.com/images/M/MV5BOTg5NTcxZGUtODFiZC00NmMyLTgyMTMtM2I2YWFlNzFhZDQzXkEyXkFqcGc@._V1_.jpg);
    left: 1260px;
    top: -50px;
    width: 485px;
    height: 600px;
    color: white;
    border-radius: 30px;
    z-index: 1;
}

.precio1 {
    font-size: 24px;
    position: relative;
    background-color: rgb(15, 15, 15);
    width: max-content;
    height: min-content;
    padding: 1rem;
    border-radius: 20px;
    left: 400px;
}

.descuento1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    position: relative;
    right: 145px;
    top: 85%;
    background-color: rgb(12, 12, 12);
    width: 100px;
    height: 100px;
    padding: 1rem;
    border-radius: 50%;
}

.fast-bar {
    position: absolute;
    justify-content: center;
    top: 975px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 2rem;
    left: 18%;
    z-index: 2;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    border: 3px solid black;
    z-index: 2;
}

.card:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

header {
    position: fixed;
    display: flex;
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje37l.jpg);
    padding: 1rem;
    width: 99vw;
    height: 3.5rem;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: 4;
}

nav {
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    height: 4rem;
    gap: 900px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.4s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.logo {
    width: auto;
    height: 60px;
}

.logo:hover {
    cursor: pointer;
}

.trending-games {
    position: absolute;
    top: 1480px;
    left: 3rem;
    font-size: 26px;
}

.trending-games-bar {
    position: relative;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 2rem;
    font-size: 20px;
    z-index: 2;
}

.card2 {
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: 0.3s;
    z-index: 2;
}

.card2:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.game-img {
    position: relative;
    border-radius: 25px;
    background-color: antiquewhite;
    background-image: url(https://i.redd.it/ec5wx76fawb81.jpg);
    width: 360px;
    height: 224px;
}

.s-btn {
    position: relative;
    bottom: 50px;
    left: 300px;
    background-color: transparent;
    background-size: contain;
    background-image: url(images/shopping_bag_24dp_000000_FILL0_wght400_GRAD0_opsz24.png);
    color: white;
    width: 25px;
    height: 25px;
    padding: 1rem;
    border-radius: 20px;
    transition: 0.5s;
}

.s-btn:hover {
    cursor: pointer;
}

.precio2 {
    position: relative;
    bottom: 56%;
    left: 290px;
    width: max-content;
    height: min-content;
    padding: 1rem;
    color: white;
    background-color: black;
    border-radius: 24px;
}

.btn2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 85%;
    bottom: 75px;
    width: 200px;
    height: 50px;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 0.5rem;
    border-radius: 50px;
    transition: 0.5s;
}

.btn2:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.top-games {
    position: absolute;
    top: 2360px;
    left: 3rem;
    font-size: 26px;
    background-color: rgb(245, 245, 245);
    border-radius: 35px;
    padding: 2rem;
}

.top-games-bar {
    position: relative;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 2rem;
    font-size: 20px;
    z-index: 2;
}

.card3 {
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    z-index: 2;
}

.card3:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.game-img2 {
    position: relative;
    border-radius: 25px;
    background-color: antiquewhite;
    background-size: cover;
    background-image: url(https://play-lh.googleusercontent.com/7yCA1M5tAlNgXSBauAjrnJQNr9A73mzFd1hm2w6G0PnfU-wWErPJaOQI6Xh_ec5GOlU=w240-h480);
    width: 216px;
    height: 216px;
}

.categories {
    position: absolute;
    text-align: center;
    top: 3225px;
    left: 3rem;
    font-size: 26px;
}

.categories-bar {
    position: relative;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 2rem;
    font-size: 20px;
    z-index: 2;
}

.card4 {
    padding: 32px 0px 0px 0px;
    background-color: black;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    z-index: 2;
}

.card4:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.game-img3 {
    position: relative;
    border-radius: 25px;
    background-color: antiquewhite;
    background-size: cover;
    background-image: url(https://play-lh.googleusercontent.com/5sB5BIFjmvygnM12NAyeUngEMCYA5xJQl2zVTOqY6RdefP0bZS5YvGjjem2eUo2nliw=w240-h480);
    width: 312px;
    height: 312px;
}

.final-cards {
    position: absolute;
    display: flex;
    top: 4136px;
    left: 16rem;
}

.our-shop {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 600px;
    border-radius: 25px;
    padding: 10px;
    z-index: 3;
}

.our-shop-text {
    font-size: 28px;
    position: relative;
    top: 35px;
}

.btn3 {
    position: relative;
    font-size: 26px;
    top: 64px;
    width: max-content;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 1rem;
    border-radius: 50px;
    transition: 0.5s;
}

.btn3:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.fimg {
    position: relative;
    right: 10rem;
    bottom: 8rem;
    background-color: rgb(31, 31, 31);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiukaI8eTxPVxyg0kvP2JTAFqxQhFatSGjFA&s);
    background-size: cover;
    width: 550px;
    height: 600px;
    border-radius: 25px;
    z-index: 2;
}

.newsletter {
    position: absolute;
    left: 48rem;
    top: 6rem;
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 600px;
    border-radius: 25px;
    padding: 10px;
    z-index: 3;
}

.newsletter-text {
    font-size: 28px;
    position: relative;
}

.btn4 {
    position: relative;
    font-size: 26px;
    width: max-content;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 50px;
    transition: 0.5s;
}

.btn4:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-bar2 {
    position: relative;
    display: flex;
    justify-content: end;
    background-color: black;
    bottom: 1rem;
    padding: 1rem;
    border-radius: 45px;
}

footer {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 4980px;
    display: flex;
    color: white;
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje37l.jpg);
    padding: 3rem;
    width: 94.5vw;
    height: 8rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 2;
}

.s-panel {
    top: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: black;
    color: white;
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje37l.jpg);
    left: 50vw;
    transform: translate(-50%);
    width: 100vw;
    height: 545px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    z-index: 0;
}

.categories2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 720px;
    width: 1850px;
}

.categories-btn {
    position: relative;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: max-content;
    z-index: 2;
}

.categories-cards {
    position: relative;
    justify-content: center;
    top: 4rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: max-content;
    z-index: 2;
}

.pages {
    position: relative;
    justify-content: center;
    top: 8rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: max-content;
    z-index: 2;
}

.footer2 {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2534px;
    display: flex;
    color: white;
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje37l.jpg);
    padding: 3rem;
    width: 94.5vw;
    height: 8rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 2;
}

.game {
    position: absolute;
    width: 660px;
    height: 764px;
    top: 720px;
    left: 10rem;
    border-radius: 25px;
    background-size: cover;
    background-image: url(https://m.media-amazon.com/images/M/MV5BOTg5NTcxZGUtODFiZC00NmMyLTgyMTMtM2I2YWFlNzFhZDQzXkEyXkFqcGc@._V1_.jpg);
    z-index: 1;
}

.game-text {
    position: absolute;
    font-size: 28px;
    width: 720px;
    top: 780px;
    left: 56rem;
    z-index: 1;
}

.price {
    display: inline-flex;
    gap: 1rem;
}

.buy {
    position: relative;
    top: 100px;
    display: inline-flex;
    gap: 1rem;
}

.amount {
    background-color: white;
    width: 64px;
    color: black;
    font-size: 24px;
    border-radius: 25px;
    border: 3px solid black;
}

.amount:hover {
    cursor: pointer;
    border: 5px solid black;
}

.tags {
    position: relative;
    font-size: 22px;
    top: 12rem;
    display: flex;
    flex-direction: column;
}

.grey {
    color: grey;
}

.description {
    font-size: 24px;
    position: absolute;
    top: 1664px;
    left: 10rem;
    width: 90rem;
}

.related-games {
    position: absolute;
    top: 2048px;
    left: 3rem;
    font-size: 26px;
}

.related-bar {
    position: relative;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 2rem;
    font-size: 20px;
    z-index: 2;
}

.footer3 {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2960px;
    display: flex;
    color: white;
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje37l.jpg);
    padding: 3rem;
    width: 94.5vw;
    height: 8rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 2;
}